@model ElevenNote.Models.CategoryModels.CategoryDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    @if (Model.IsUserOwned)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) <span> |</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
